.toggle {
    position: relative;
    width: 50px;
    height: 28px;
    border: 1.5px solid var(--color-darkgray-500);
    border-radius: 99px;
    background-color: var(--color-darkgray-800);
    box-shadow: 1px 1px 10px rgb(0 0 0 / 74.8%);
    cursor: pointer;
    transition: background-color 0.3s ease border-color 0.2s ease;

    & .thumb {
        position: absolute;
        top: 50%;
        left: 3px;
        width: 20px;
        height: 20px;
        border-radius: 99px;
        background-color: var(--color-darkgray-300);
        transform: translateX(0);
        transform: translateY(-50%);
        transition: left 0.15s ease;
    }

    &.toggled .thumb {
        left: calc(50px - 25px);
        background-color: var(--color-purple-500);
    }
}