.item-country-container {
    display: flex;
    width: 100%;
    padding: 8px 12px;
    border: 1.5px solid var(--color-darkgray-500);
    background-color: transparent;
    color: white;
    cursor: pointer;

    &:active {
        border: 1.5px solid var(--color-purple-500);
    }

    .flag-and-country-name {
        display: flex;
        width: 100%;
        align-items: center;
        gap: 12px;

        & .flag-country {
            font-size: var(--font-size-title);
        }

        & .name-country {
            width: 100%;
            text-align: left;
            font-size: var(--font-size-large);
        }
    }
}