.container-list-with-search {
    margin: 40px;

    /* Borrar cuando se pase a modal */

    & .search-bar {
        width: 100%;
        height: 32px;
        border-radius: 10px 10px 0 0;
    }

    .container-list-of-countries {
        max-height: 50vh;
        border: 1.5px solid var(--color-darkgray-500);
        border-radius: 10px;

        /* Cambiar cuando se pase a modal */

        overflow-y: scroll;
        scroll-behavior: smooth;

        .item-country-container {
            display: flex;
            align-items: center;
            padding: 4px 8px;
            border: 1.5px solid var(--color-darkgray-500);
            color: white;
            gap: 12px;

            & .flag-country {
                width: 52px;
                font-size: var(--font-size-title);
            }

            & .name-country {
                flex: 1;
                font-size: var(--font-size-large);
            }

            & .more-countries-arrow {
                width: 32px;
                cursor: pointer;
            }
        }
    }
}