        .item-country-container {
            width: 100%;
            background-color: transparent;
            display: flex;
            padding: 8px 12px;
            border: 1.5px solid var(--color-darkgray-500);
            color: white;

            cursor: pointer;

            .flag-and-country-name {
                display: flex;
                align-items: center;
                gap: 12px;
                width: 100%;

                & .flag-country {
                    font-size: var(--font-size-title);
                }

                & .name-country {
                    font-size: var(--font-size-large);
                }
            }
        }