.container-form {
    width: 100%;
    height: auto;
    padding: 12px 40px;

    .form {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 0 auto;
        gap: 16px;

        & .container-event-name,
        .container-hyperlink,
        .container-upload-image,
        .container-description {
            width: 100%;

            & .event-name,
            .hyperlink,
            .upload-image,
            .description {
                width: 100%;
            }

            & .description {
                height: 80px;
                resize: none;
            }
        }

        & .container-time-and-date,
        .container-time-zone-and-language,
        .container-to-position-relative {
            display: flex;
            width: 100%;
            gap: 8px;

            & .container-with-toggle,
            .container-time-zone,
            .container-language {
                width: 100%;

                & .language,
                .time-zone {
                    width: 100%;
                }

                & .time-zone {
                    cursor: pointer;
                    height: 100%;
                }
            }

            & .container-with-toggle {
                display: flex;
                flex-direction: column;
                gap: 8px;

                & .time,
                .date {
                    position: relative;
                    width: 100%;

                    /* * Hiding default icons in browsers * */
                    &::-webkit-calendar-picker-indicator {
                        position: relative;
                        opacity: 0;
                        width: 60px;
                    }

                    &.disabled {
                        cursor: not-allowed;
                        color: var(--color-darkgray-500);

                        &::before {
                            background-image: none;
                        }
                    }
                }

                & .container-toggle {
                    display: flex;
                    align-items: center;
                    gap: 4px;

                    & .text-toggle {
                        color: var(--color-gray-500);
                        font-size: var(--font-size-small);
                    }
                }
            }

            & .container-time,
            .container-date {
                position: relative;

                &::after {
                    content: '';
                    background-size: cover;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    top: 10px;
                    right: 12px;
                    pointer-events: none;
                }
            }

            & .container-time::after {
                background-image: url(./time.svg);
            }

            & .container-date::after {
                background-image: url(./date.svg);
            }


            & .container-date {
                @media (min-width: 730px) {
                    flex-direction: row;
                }

                &::after {
                    @media (min-width: 730px) {
                        /* 120px = min-height container-toggle */
                        /* 8px = gap between input and toggle-container */
                        /* 12px = space to center it */
                        right: calc(120px + 8px + 12px);
                    }
                }

                & .container-toggle {
                    min-width: 120px;
                }
            }
        }

        & input,
        select {
            height: 40px;
        }

        & input,
        select,
        textarea,
        .time-zone {
            border: 1.5px solid var(--color-darkgray-500);
            border-radius: 10px;
            background-color: var(--color-darkgray-800);
            color: var(--color-whywhite-500);

            &::placeholder {
                color: var(--color-gray-500);
            }

            &:focus {
                border: 1px solid transparent;
                outline: 1px solid var(--color-purple-500);
            }
        }

        & .container-time-and-date,
        .container-time-zone-and-language {
            display: flex;
            width: 100%;
            gap: 8px;

            & .container-with-toggle,
            .container-time-zone,
            .container-language {
                width: 100%;

                & .language,
                .time-zone {
                    width: 100%;
                }

                & .time-zone {
                    height: 100%;
                    cursor: pointer;
                }
            }

            & .container-with-toggle {
                display: flex;
                flex-direction: column;
                gap: 8px;

                & .time,
                .date {
                    width: 100%;

                    &.disabled {
                        color: transparent;
                        cursor: not-allowed;
                    }
                }

                & .container-toggle {
                    display: flex;
                    align-items: center;
                    gap: 4px;

                    & .text-toggle {
                        color: var(--color-gray-500);
                        font-size: var(--font-size-small);
                    }
                }
            }

            & .container-date {
                @media (width >= 730px) {
                    flex-direction: row;
                }

                & .container-toggle {
                    min-width: 120px;
                }
            }
        }
        
    }
}