.container-form {
    width: 100%;
    height: auto;
    padding: 12px 40px;

    .form {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 0 auto;
        gap: 16px;

        & .container-event-name,
        .container-hyperlink,
        .container-upload-image,
        .container-description {
            width: 100%;

            & .event-name,
            .hyperlink,
            .upload-image,
            .description {
                width: 100%;
            }

            & .description {
                height: 80px;
                resize: none;
            }
        }

        & .container-time-and-date,
        .container-time-zone-and-language {
            display: flex;
            width: 100%;
            gap: 8px;

            & .container-with-toggle,
            .container-time-zone,
            .container-language {
                width: 100%;

                & .language,
                .time-zone {
                    width: 100%;
                }
            }

            & .container-with-toggle {
                display: flex;
                flex-direction: column;
                gap: 8px;

                & .time,
                .date {
                    position: relative;
                    width: 100%;

                    &.disabled {
                        cursor: not-allowed;
                    }
                }

                & .container-toggle {
                    display: flex;
                    align-items: center;
                    gap: 4px;

                    & .text-toggle {
                        color: var(--color-gray-500);
                        font-size: var(--font-size-small);
                    }
                }
            }

            & .container-date {
                @media (min-width: 730px) {
                    flex-direction: row;
                    /* background-color: red; */
                }

                & .container-toggle {
                    min-width: 120px;
                }
            }
        }

        & input,
        select {
            height: 40px;
        }

        & input,
        select,
        textarea {
            border: 1.5px solid var(--color-darkgray-500);
            border-radius: 10px;
            background-color: var(--color-darkgray-800);
            color: var(--color-whywhite-500);

            &::placeholder {
                color: var(--color-gray-500);
            }

            &:focus {
                border: 1px solid transparent;
                outline: 1px solid var(--color-purple-500);
            }
        }
    }
}