.container-form {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    padding: var(--padding);
    gap: 1rem;

    .form {
        display: flex;
        width: 100%;
        max-width: 700px;
        flex-direction: column;
        margin: 0 auto;
        gap: 16px;

        & input[type="text"],
        input[type="url"],
        textarea {
            padding: 1rem;
        }

        & .description {
            height: 80px;
            resize: none;
        }

        & .container-event-name,
        .container-hyperlink,
        .container-upload-image,
        .container-description {
            width: 100%;

            & .event-name,
            .hyperlink,
            .upload-image,
            .description {
                width: 100%;
            }
        }

        & .container-time-and-date,
        .container-time-zone-and-language,
        .container-to-position-relative {
            display: flex;
            width: 100%;
            gap: 8px;

            & .container-with-toggle,
            .container-time-zone,
            .container-language {
                width: 100%;

                & .language,
                .time-zone {
                    width: 100%;
                }

                & .time-zone {
                    height: 100%;
                    cursor: pointer;
                }
            }

            & .container-with-toggle {
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 8px;

                & .time {
                    /* * Removing default icon in browsers * */
                    &::-webkit-calendar-picker-indicator {
                        display: none;
                    }
                }

                & .select-time {
                    position: absolute;
                    right: 0;
                    width: 60px;
                    height: 40px;
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                }

                & .date {
                    position: relative;
                    width: 100%;

                    /* * Hiding default icon in browsers * */
                    &::-webkit-calendar-picker-indicator {
                        width: 60px;
                        opacity: 0;
                    }

                    &.disabled {
                        opacity: 0.5;
                        pointer-events: none;

                        &::before {
                            background-image: none;
                        }
                    }
                }

                & .container-toggle {
                    display: flex;
                    align-items: center;
                    gap: 4px;

                    & .text-toggle {
                        color: var(--color-gray-500);
                        font-size: var(--font-size-small);
                    }
                }
            }

            & .container-date {
                position: relative;

                &::after {
                    position: absolute;
                    top: 10px;
                    right: 12px;
                    display: flex;
                    width: 20px;
                    height: 20px;
                    align-items: center;
                    justify-content: center;
                    background-size: cover;
                    content: '';
                    pointer-events: none;
                }
            }

            & .container-date::after {
                background-image: url("./date.svg");
            }


            & .container-date {
                @media (width >=730px) {
                    flex-direction: row;
                }

                &::after {
                    @media (width >=730px) {
                        /* 120px = min-height container-toggle */
                        /* 8px = gap between input and toggle-container */
                        /* 12px = space to center it */
                        right: calc(120px + 8px + 12px);
                    }
                }

                & .container-toggle {
                    min-width: 120px;
                }
            }
        }


        & .event-name,
        .time,
        .date,
        .hyperlink,
        .upload-image,
        .language {
            height: 40px;
        }

        & .event-name,
        .time,
        .date,
        .hyperlink,
        .upload-image,
        .language,
        .description,
        .time-zone {
            border: 1.5px solid var(--color-darkgray-500);
            border-radius: 10px;
            background-color: var(--color-darkgray-800);
            color: var(--color-whywhite-500);

            &::placeholder {
                color: var(--color-gray-500);
            }

            &:focus {
                border: 1px solid transparent;
                outline: 1px solid var(--color-purple-500);
            }

        }

        & .container-time-and-date,
        .container-time-zone-and-language {
            display: flex;
            width: 100%;
            gap: 8px;

            & .container-with-toggle,
            .container-time-zone,
            .container-language {
                width: 100%;

                & .language,
                .time-zone {
                    width: 100%;
                }

                & .time-zone {
                    height: 100%;
                    cursor: pointer;
                }
            }

            & .container-with-toggle {
                display: flex;
                flex-direction: column;
                gap: 8px;

                & .time,
                .date {
                    width: 100%;

                    &.disabled {
                        cursor: not-allowed;
                        opacity: 0.5;
                        pointer-events: none;
                    }
                }

                & .container-toggle {
                    display: flex;
                    align-items: center;
                    gap: 4px;

                    & .text-toggle {
                        color: var(--color-gray-500);
                        font-size: var(--font-size-small);
                    }
                }
            }

            & .container-date {
                @media (width >=730px) {
                    flex-direction: row;
                }

                & .container-toggle {
                    min-width: 120px;
                }
            }
        }

        & .container-button {
            display: flex;
            justify-content: center;
            gap: 1rem;
        }
    }
}