.mtz-item-country-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 18px;
    border: none;
    border: 1.5px solid var(--color-darkgray-500);

    /* TODO: Discutir diseño */
    background-color: var(--color-darkgray-900);
    cursor: pointer;
    font-weight: var(--font-weight-bold);


    &:active {
        border: 1.5px solid var(--color-purple-500);
        background-color: var(--color-purple-300)
    }

    & .mtz-zone-name-container {
        color: var(--color-whywhite-500);
    }

    & .mtz-additional-information {
        display: flex;
        align-items: center;
        color: var(--color-gray-500);
        gap: 8px;

        & .mtz-additional-information-initial {
            font-size: var(--font-size-small);
        }

        & .mtz-additional-information-gmt {
            color: var(--color-purple-500);
            font-weight: var(--font-weight-bold);
        }
    }
}