.login-container {
    display: flex;
    width: 100%;
    height: 400px;
    flex-direction: column;
    justify-content: space-between;

    /* ! Buscar mejor manera de poner el height */

    /* TODO: No funciona en dispositivos de diferentes alturas */
    padding: 12px 40px;
    color: var(--color-whywhite-500);

    & .paragraph {
        font-size: var(--font-size-medium);
    }

    & .helper-text {
        display: block;
        color: var(--color-gray-500);
        font-size: var(--font-size-small);
        line-height: 1.4;


        & .helper-text-link {
            color: var(--color-purple-500);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    & .providers-button {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 16px;

        /* Estos estilos serviran para cuando tengamos más de un provider */

        & .provider {
            display: flex;
            width: 100%;
            height: 48px;
            align-items: center;
            padding: 2px;
            border: 1px solid transparent;
            border-radius: 2px;
            cursor: pointer;
            outline: 1px solid transparent;

            &:hover {
                border: none;
                outline: none;
            }

            & .image-provider {
                width: 46px;
                height: auto;
            }

            & .name-provider {
                width: 100%;
                font-size: var(--font-size-xlarge);
                font-weight: var(--font-weight-bold);
            }
        }

        & .google-provider {
            background-color: var(--color-btn-google);
            color: var(--color-whywhite-500);

            &:hover {
                border: 1px solid transparent;
                background-color: var(--color-btn-google-hover);
            }

            &:active {
                background-color: var(--color-btn-google-active);
            }
        }
    }



}

.google-login-button {
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    border: none;
    border-radius: 9px;
    font-size: 16px;
    font-weight: 700;
    gap: .5rem;
}