.container {
    display: flex;

    border: 1.5px solid var(--color-darkgray-800);
    border-radius: 10px;


    & .aside {
        display: grid;
        place-content: center;
        padding: 16px;

        border-right: 1.5px solid var(--color-darkgray-800);

        & .date {
            font-size: 14px;
            text-align: center;
            text-wrap: balance;
        }
    }


    & .body {
        display: flex;
        flex-direction: column;
        padding: 16px;

        & .title-link {
            text-decoration: none;

            & .title {
                font-size: 18px;
                font-weight: bold;
                color: var(--color-purple-500);

                &:hover {
                    color: var(--color-purple-700);
                }
            }
        }

        & .location {
            display: flex;
            align-items: center;
            gap: 4px;

            color: var(--color-gray-500);

            & .location-text {
                font-size: 14px;
            }
        }

        & .link-container {
            display: flex;
            gap: 4px;

            & .link {
                font-size: 14px;
                color: var(--color-purple-500);
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

@media (width < 393px) {
    .container {
        display: grid;

        grid-template-rows: auto, 1fr;

        & .aside {
            padding: 8px;
            border-right: none;
            border-bottom: 1.5px solid var(--color-darkgray-800);
        }
    }
}