.countries-container {
    display: grid;
    min-height: 80px;
    align-items: center;
    padding: 1rem;
    border: 1.5px solid var(--color-darkgray-500);
    border-radius: 10px;
    background-color: var(--color-darkgray-800);
    color: var(--color-whywhite-500);
    gap: 1rem;
    grid-template-columns: 1fr auto;
    line-height: 1.8;

    &::placeholder {
        color: var(--color-gray-500);
    }

    &:focus {
        border: 1px solid transparent;
        outline: 1px solid var(--color-purple-500);
    }
}

.add-button-container {
    align-self: baseline;
    grid-column: 2;
    grid-row: 1;
}

.add-button {
    display: grid;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    place-content: center;
}

.add-button:hover svg {
    stroke: var(--color-purple-500);
}

.add-button:active {
    transform: scale(0.95);
}