.select-country-container {
    display: grid;
    width: 100%;
    height: 40px;
    border: 1.5px solid var(--color-darkgray-500);
    border-radius: 10px;
    background-color: var(--color-darkgray-800);
    color: var(--color-whywhite-500);
    cursor: pointer;
    font-size: var(--font-size-sm);
}

.select-country {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    outline: none;
}

.select-country-container:focus-within {
    border: 1px solid transparent;
    outline: 1px solid var(--color-purple-500);
}

.country-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.gmt-and-icon {
    display: flex;
    align-items: center;

    gap: 4px;
}

.gmt,
.continent {
    color: var(--color-gray-500);
}

@media screen and (width < 768px) {
    .continent {
        display: none;
    }
}