.countries-container {
    display: grid;
    min-height: 80px;
    padding: 1rem;
    border: 1.5px solid var(--color-darkgray-500);
    border-radius: 10px;
    background-color: var(--color-darkgray-800);
    color: var(--color-whywhite-500);
    grid-template-columns: 1fr auto;
    grid-template-rows: 0 auto;
    line-height: 1.8;

    &.empty {
        outline: 1px solid var(--color-error);
    }

    &::placeholder {
        color: var(--color-gray-500);
    }

    &:focus {
        border: 1px solid transparent;
        outline: 1px solid var(--color-purple-500);
    }
}

.empty-message {
    color: var(--color-gray-500);
    font-size: var(--font-size-sm)
}

.add-button-container {
    align-self: baseline;
    grid-column: 2;
    grid-row: 1;
}

.add-button {
    display: grid;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    place-content: center;
}

.add-button:hover svg {
    stroke: var(--color-purple-700);
}

.add-button:active {
    transform: scale(0.95);
}