.container {
    position: absolute;
    top: calc(100% - 30px);
    display: flex;
    min-width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: var(--color-purple-500);
}

.container-time {
    display: flex;
}

.container-hours,
.container-minutes {
    display: flex;
    max-width: 60px;
    flex-direction: column;
    align-items: center;
}

.input-hours,
.input-minutes {
    width: 100%;
    height: 40px;
    border: none;
    background-color: transparent;
    color: var(--color-whywhite-500);
    font-size: 24px;
    text-align: center;

}

.input-hours:focus,
.input-minutes:focus {
    outline: none;
}

/* Hiding the arrows in normal browsers */
.input-hours::-webkit-inner-spin-button,
.input-hours::-webkit-outer-spin-button,
.input-minutes::-webkit-inner-spin-button,
.input-minutes::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

/* Mimimimi, hiding arrows in Firefox 🤡 */
/* Si estas propiedades se ponen en los selectores anteriores, no funcionan */
.input-hours,
.input-minutes {
    appearance: none;
    -moz-appearance: textfield;
}

.increment-hours-button,
.decrease-hours-button,
.increment-minutes-button,
.decrease-minutes-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container-am-pm {
    display: flex;
    gap: 4px;
}

.container-ok {
    display: flex;
}

.am,
.pm,
.ok {
    border: none;
    background-color: transparent;
    color: var(--color-gray-700);
    cursor: pointer;
    font-weight: var(--font-weight-bold);
}

.ok {
    color: var(--color-whywhite-500);
}
.container-am-pm {
    display: flex;
    flex-direction: column;
}
.am.active,
.pm.active {
    color: var(--color-whywhite-500);
}