.countries-container {
    min-height: 80px;
    padding: 1rem;
    border: 1.5px solid var(--color-darkgray-500);
    border-radius: 10px;
    background-color: #66666625;
    color: var(--color-whywhite-500);
    line-height: 1.8;
    resize: none;

    &::placeholder {
        color: var(--color-gray-500);
    }

    &:focus {
        border: 1px solid transparent;
        outline: 1px solid var(--color-purple-500);
    }
}

.countries {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;

    & .time {
        width: 65px;
        flex-shrink: 0;
    }

    & .gmt {
        width: 75px;
        flex-shrink: 0;
    }
}

.flags-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: .2rem;
}



.flag:hover {
    background-image: url("/img/trash-can-regular.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px;
    cursor: pointer;


    & img {
        /* display: none; */
        opacity: 0.1;
    }
}

