.containerForm {
    width: 100%;
    height: auto;
    padding: 0 40px;
}

.form {
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 16px;

    & .fullWidth {
        width: 100%;
    }

    & textarea {
        resize: none;

        height: 80px;
    }

    & input,
    select {
        height: 40px;
    }

    & input,
    select,
    textarea {
        color: var(--color-whywhite-500);
        border-radius: 10px;

        background-color: #66666625;
        /* Este color no tiene variable todavía */
        border: 1.5px solid var(--color-darkgray-500);

        &::placeholder {
            color: var(--color-gray-500);
        }

        &:focus {
            border: 1px solid transparent;
            outline: 1px solid var(--color-purple-500);
        }
    }
}

.containerHalfWidth {
    display: flex;
    gap: 8px;

    &>div {
        width: 100%;
    }
}

.prueba {
    /* help */
}