.login-button {
    width: 50px;
    height: 50px;
    padding: 4px;
    border-radius: 50%;
    background-color: #202020;
    color: #fff;
    transition: background 0.3s ease-in-out;

    
    & img {
        width: 100%;
        border-radius: 50%;

        /* .icon es la clase, pero no funciona (? siento que es el postcss con el nesting */
        object-fit: cover;
    }

   
    
}

.login-button:hover {
    background-color: var(--color-neutral-500);
}