.container-icons {
    display: flex;
    width: 100%;
    max-width: 500px;
    align-items: center;
    justify-content: space-evenly;

    & .link {
        text-decoration: none;

        & .container-icon {
            display: flex;
            align-items: center;
            gap: 4px;

            & .name {
                display: none;
                color: var(--color-whywhite-500);
            }

            & .icon:active {
                filter: invert(50%);
            }
        }
    }

}


@media screen and (min-width: 768px) {
    .container-icons {
        gap: 16px;

        & .link {
            & .container-icon {
                & .name {
                    display: block;
                }
            }
        }
    }
}