.header {
    display: flex;
    width: 100%;
    max-height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding);
    background-color: var(--color-darkgray-900);

    & .title {
        display: none;
    }

    .container-actions {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .header {
        & .container-actions {
            display: block;
        }

        & .link {
            & .logo {
                width: 80px;
                height: 40px;
            }
        }
    }
}