.container {
    max-width: 700px;
    padding: var(--padding);
    margin: 0 auto;

    .section {
        color: var(--color-gray-500);
        font-size: var(--font-size-sm);

        & p {
            padding: 12px 0;
        }
    }
}