.login-button {
    display: flex;

    /* max-width: 92px; */
    align-items: center;
    justify-content: center;
    padding: .6rem 1rem;
    border: 1px solid var(--color-darkgray-500);
    border-radius: 4px;
    background-color: var(--color-purple-700);

    /* Las sombras no deben ser blanco/negro */

    /* Investigar una buena sombra */
    box-shadow: 0 2px 2px black;
    cursor: pointer;
    gap: .5rem;

    &:hover {
        background-color: var(--color-purple-800);
    }

    &:focus {
        border: none;
    }

    &:active {
        border: 1px solid var(--color-darkgray-500);
        background-color: var(--color-purple-900);
        box-shadow: none;
    }

    & .text {
        color: var(--color-whywhite-500);
        font-size: var(--font-size-medium);
        font-weight: var(--font-weight-bold);

        /* &:hover {
                color: var(--color-whywhite-500);
            } */

        /* TODO: Agregar más variables de blanco para utilizar en el hover de los botones con texto blanco */
    }

    & img {
        border-radius: 50%;
    }
}