.button {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 132px;
    max-height: 37.14px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding: .6rem 1rem;
    border: 1px solid var(--color-purple-700);
    border-radius: 4px;
    background-color: var(--color-purple-700);

    /* Las sombras no deben ser blanco/negro */

    /* Investigar una buena sombra */

    /* O quitar la sombra, porque nada más tiene #EduardoDelFuturo */
    box-shadow: 0 2px 2px black;
    cursor: pointer;
    gap: .5rem;
    transition: all 0.2s ease;

    &:hover {
        background-color: var(--color-purple-800);
    }

    &:focus {
        border: 1px solid var(--color-darkgray-500);
    }

    &:active {
        border: 1px solid var(--color-darkgray-500);
        background-color: var(--color-purple-900);
        box-shadow: none;
    }

    & .text {
        color: var(--color-whywhite-500);
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-bold);
    }

    & .avatar {
        overflow: hidden;
        border-radius: 50%;
    }

    &::before {
        position: absolute;
        bottom: 110%;
        left: 50%;
        overflow: hidden;
        width: max-content;
        height: 0;
        border-radius: 15px 15px 15px 0;
        background-color: var(--color-purple-700);
        color: var(--color-whywhite-500);
        content: attr(data-hover); 
        opacity: 0;
        transition: all .3s ease-out;
    }
}

.button:disabled {
    border: var(--color-darkpurple-700);
    background-color: var(--color-darkpurple-700);
    cursor: not-allowed;

    &:hover {
        background-color: var(--color-darkpurple-700);
    }

    &:hover::before {
        height: 100%;
        padding: 10px;
        opacity: 1;

    }

    &:active {
        box-shadow: none;
        box-shadow: 0 2px 2px black;
    }

    .text {
        color: var(--color-darkgray-700);
    }
}