.countries {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 2px;

    .time-24 {
        width: 2.7rem;
        flex-shrink: 0;
    }

    .time-12 {
        width: 5rem;
    }

    .gmt {
        width: 4.7rem;
        flex-shrink: 0;
    }
}

.flags-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 3px;

    .flag {
        flex-shrink: 0;
    }
}



.flag:hover {
    background-image: url("/img/ui/trash-can-regular.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px;
    cursor: pointer;


    & img {
        opacity: 0.1;
    }
}
