@import './minireset.min.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  /* Font-family */
  --font-family-primary: 'Poppins', sans-serif;

  /* Font-size*/
  --font-size-small: 12px;
  --font-size-medium: 14px;
  --font-size-large: 16px;
  --font-size-xlarge: 18px;
  --font-size-title: 28px;

  /* Font-weight */
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* Colors */
  --color-neutral-050: #;
  --color-neutral-100: #;
  --color-neutral-200: #;
  --color-neutral-300: #252525;
  --color-neutral-400: #1D1D1D;
  --color-neutral-500: #141414;
  --color-neutral-600: #121212;
  --color-neutral-700: #101010;
  --color-neutral-800: #0C0C0C;
  --color-neutral-900: #080808;
  --color-neutral-950: #040404;

  --color-purple-050: #;
  --color-purple-100: #;
  --color-purple-200: #;
  --color-purple-300: #976DF5;
  --color-purple-400: #895EEB;
  --color-purple-500: #7E56DA;
  --color-purple-600: #7349D4;
  --color-purple-700: #683BD0;
  --color-purple-800: #5D32C1;
  --color-purple-900: #5220C6;
  --color-purple-950: #;

  --color-darkgray-050: #;
  --color-darkgray-100: #;
  --color-darkgray-200: #;
  --color-darkgray-300: #454545;
  --color-darkgray-400: #3D3D3D;
  --color-darkgray-500: #333333;
  --color-darkgray-600: #2E2E2E;
  --color-darkgray-700: #292929;
  --color-darkgray-800: #272727;
  --color-darkgray-900: #202020;
  --color-darkgray-950: #151515;

  --color-whywhite-300: #FFFFFF;
  --color-whywhite-400: #FBFCFD;
  --color-whywhite-500: #F9FBFC;
  --color-whywhite-600: #F4F4F4;
  --color-whywhite-700: #E8E8E8;

  --color-gray-300: #BABABA;
  --color-gray-400: #AFAFAF;
  --color-gray-500: #A4A4A4;
  --color-gray-600: #939393;
  --color-gray-700: #8C8C8C;

  --color-darkpurple-050: #;
  --color-darkpurple-100: #2D1663;
  --color-darkpurple-200: #251056;
  --color-darkpurple-300: #1E0D48;
  --color-darkpurple-400: #1A0B3F;
  --color-darkpurple-500: #160A34;
  --color-darkpurple-600: #100728;
  --color-darkpurple-700: #0D0620;
  --color-darkpurple-800: #0A0518;
  --color-darkpurple-900: #080413;
  --color-darkpurple-950: #;

  --color-white-000: #ffffff;
  --color-black-000: #000000;

  --color-btn-google: #4285F4;
  --color-btn-google-hover: #3d7de4;
  --color-btn-google-active: #3367d6;
}

body {
  background-color: var(--color-neutral-500);
  font-family: var(--font-family-primary);
}