.container-form {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    padding: var(--padding);
    color: var(--color-whywhite-500);
    gap: 1rem;

    .form {
        display: flex;
        width: 100%;
        max-width: 700px;
        flex-direction: column;
        margin: 0 auto;
        gap: 16px;

        & .required {
            color: var(--color-error);
            font-size: var(--font-size-small)
        }

        & .description {
            height: 80px;
            resize: none;
        }

        & .container-event-name,
        .container-hyperlink {
            width: 100%;

            & .event-name,
            .hyperlink,
            .description {
                width: 100%;

                &.empty {
                    outline: 1px solid var(--color-error);
                }
            }
        }

        & .container-time-and-date,
        .container-to-position-relative {
            display: flex;
            width: 100%;
            gap: 8px;

            & .container-with-toggle {
                position: relative;
                display: flex;
                width: 100%;
                flex-direction: column;
                gap: 8px;

                & .input-button {
                    position: relative;
                    display: flex;
                    width: 100%;
                    align-items: center;
                }

                & .time,
                .date {
                    width: 100%;
                }

                & .time {
                    /* * Removing default icon in browsers * */
                    &::-webkit-calendar-picker-indicator {
                        display: none;
                    }
                }

                & .select-time {
                    position: absolute;
                    right: 0;
                    width: 50px;
                    height: 40px;
                    padding: 0;
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                }

                & .container-toggle {
                    display: flex;
                    min-width: 110px;
                    align-items: center;
                    gap: 4px;

                    & .text-toggle {
                        color: var(--color-gray-500);
                        font-size: var(--font-size-small);
                    }
                }
            }

            & .container-date {
                position: relative;

                &::after {
                    position: absolute;
                    top: 5px;
                    right: 4px;
                    display: flex;
                    width: 40px;
                    height: 30px;
                    align-items: center;
                    justify-content: end;
                    padding-top: 4px;
                    padding-right: 9px;
                    border-radius: 8px;
                    background-color: var(--color-darkgray-800);
                    content: url('/img/ui/date.svg');
                    pointer-events: none;
                }

                &.hiding-after::after {
                    background-color: transparent;
                    opacity: 0.5;
                }

                & .date {
                    position: relative;
                    width: 100%;

                    /* * Hiding default icon in browsers * */
                    &::-webkit-calendar-picker-indicator {
                        width: 60px;
                        opacity: 0;
                    }

                    &.disabled {
                        cursor: not-allowed;
                        opacity: 0.5;
                        pointer-events: none;
                    }
                }
            }

            & .container-date,
            .container-time {
                @media (width >=730px) {
                    flex-direction: row;
                }

                &::after {
                    @media (width >=730px) {
                        /* 120px = min-height container-toggle */
                        right: calc(120px);
                    }
                }
            }
        }

        & .event-name,
        .time,
        .date,
        .hyperlink {
            height: 40px;
        }

        & .event-name,
        .time,
        .date,
        .hyperlink,
        .description {
            padding: 0 14px;
            border: 1.5px solid var(--color-darkgray-500);
            border-radius: 10px;
            background-color: var(--color-darkgray-800);
            color: var(--color-whywhite-500);
            font-family: var(--font-family-primary);
            font-size: var(--font-size-medium);

            &::placeholder {
                color: var(--color-gray-500);
            }

            &:focus {
                border: 1px solid transparent;
                outline: 1px solid var(--color-purple-500);
            }
        }

        & .description {
            padding: 14px;
        }

        & .container-button {
            display: flex;
            justify-content: center;
            gap: 1rem;
        }
    }
}

.container-toggles {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    gap: 0.5rem;


}

.container-options-combo {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    text-align: center;


    @media screen and (width < 768px ) {
        flex-basis: calc(50% - 1rem);
    }

    & .text-toggle {
        font-size: var(--font-size-medium);
    }
}
